footer.footer
  .links
    a(href="#")
      span Помощь
    a(href="#")
      span Обратная связь
    a(href="#")
      span Разработчикам
    a(href="#")
      span Условия использования
  .copyright
    span © 2001–2017  ООО «Яндекс»
