footer.footer
  ul.footer-list
    li.footer-list_item
      a.footer-link(href="#")
        span.footer-link_text Помощь
    li.footer-list_item
      a.footer-link(href="#")
        span.footer-link_text Обратная связь
    li.footer-list_item
      a.footer-link(href="#")
        span.footer-link_text Разработчикам
    li.footer-list_item
      a.footer-link(href="#")
        span.footer-link_text Условия использования
  .footer-copyright
    span © 2001–2017  ООО «Яндекс»
