extends ../_template

block vars
  - var title = 'Яндекс Дом'

block content
  main.content
    .container
      section.section.section--main
        h1.section-title.section-title--main
          span Главное
        .main-body.board
          .board-status
            .board-hello Привет, Геннадий!
            .board-description Двери и окна закрыты, сигнализация включена.
            .board-data
              .board-data_item.board-data_item--home
                .board-data_label Дома
                .board-data_value +23
              .board-data_item.board-data_item--outside
                .board-data_label За окном
                .board-data_value +19
                  include ../../images/svg/cloud-drizzle.svg
          #board-scenarios.board-scenarios
      section.section.section--scenarios
        h1.section-title
          span Избранные сценарии
        .scenarios-body
      section.section.section--devices
        h1.section-title
          span Избранные устройства
          .filters#device-filters
            ul.filters-list
              li.filters-list_item
                button.filters-item(type="button" data-type="all") Все
              li.filters-list_item
                button.filters-item(type="button" data-type="zone" data-value="kitchen") Кухня
              li.filters-list_item
                button.filters-item(type="button" data-type="zone" data-value="room") Зал
              li.filters-list_item
                button.filters-item(type="button" data-type="type" data-value="lamp") Лампочка
              li.filters-list_item
                button.filters-item(type="button" data-type="type" data-value="cam") Камеры
          button#filters-toggle_btn.filters-toggle_btn.filters-item.current(type="button" aria-label='Toggle filters menu button')
            span.filters-toggle_btn-text
            span.filters-toggle_btn-icon
              include ../../images/svg/arrow-down.svg
        .devices
          .no-scrollbar-parent
            ul.devices-list#devices
