extends ../_template

block vars
  - var title = 'Яндекс Дом'

block content
  main.content
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf
    h1 lskdfjnvsf