main {
  flex: 1;
  margin-top: 4.5rem;

  @media (min-width: 768px) {
    &{
      margin-top: 8rem;
    }
  }
}

.section{
  padding: 0 0 0 $padding-big;

  &--main{
    padding: 0 $padding-big;
  }

  &-title{
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5*$padding-big $padding-big $padding-big 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--main{
      visibility: hidden;
      width: 0;
      height: 0;
      padding: 0;
    }
  }
}

.main-body{
  border-radius: $padding-big;
  background: url("../img/bg@1x.jpg") no-repeat center / cover;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/bg@2x.jpg");
  }
}

.board{
  &-status{
    padding: $padding-big;
  }

  &-hello{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &-description{
    margin-bottom: 1.25rem;
  }

  &-data{
    display: flex;

    &_item{
      margin-right: $padding-big;
    }

    &_label{
      color: $font_color-second;
      margin-bottom: 0.5rem;
    }

    &_value{
      font-size: 2rem;
      font-weight: bold;
      display: flex;

      & svg{
        padding-left: 0.5rem;
        height: 1.5rem;
        width: auto;
        align-self: center;
      }
    }
  }

  &-scenarios{
    padding-left: $padding-big;
    padding-bottom: $padding-big;
    height: $card-height-big+$padding-big;
    overflow-x: auto;
    display: flex;
  }
}

.filters{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $modal-fade;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  font-size: 2rem;

  &.visible{
    transform: scale(1);
    opacity: 1;
  }

  &-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-list_item{
    text-align: center;
  }

  &-item{
    background-color: $bg-light;
    padding: 8px 15px;
    border: none;
    margin: 5px;
    color: $black;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 20px;

    &.current{
      background-color: $yellow;
    }
  }

  &-toggle_btn{
    font-size: 1rem;
    display: flex;
    align-items: center;

    &-text{
      margin-right: 0.5rem;
    }
  }
}

.scenarios,
.devices {

  & .no-scrollbar-parent {
    height: $card-height-big + 5px;
  }

  &-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
    box-sizing: content-box;
    scroll-behavior: smooth;

    &_item {
      margin-right: 0.75*$padding-big;
    }
  }
}

.devices_scroll{
  display: flex;

  &.hidden{
    display: none;
  }

  &-btn{
    padding: 8px;
    border: none;
    margin: 0;
    border-radius: 20px;
    font-size: 13px;
    background-color: transparent;

    &:disabled{
      opacity: 0.3;
    }

    &--right{
      transform: scaleX(-1);
    }
  }
}

.card{
  width: $card-width;
  border: none;
  background-color: $bg-light;
  border-radius: $padding-big;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75*$padding-big;

  &--big{
    height: $card-height-big;
  }

  &--small{
    height: $card-height-small;
  }

  &:hover{
    background: $white;
    box-shadow: $card-shadow;
  }

  &-icon{
    width: 2rem;
    height: 2rem;
    background: no-repeat center / contain;
  }

  &-title{
    font-weight: bold;
    font-size: 1.16667rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &-description{
    color: $font_color-second;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .container{
    display: flex;
    flex-wrap: wrap;
  }

  .section{

    &--main{
      width: 50%;
      padding: 0 $padding-small 0 $padding-huge;
      display: flex;
      flex-direction: column;
    }

    &--scenarios{
      width: 50%;
      padding: 0 0 0 $padding-small;
    }

    &--devices {
      padding: 0 0 0 $padding-huge;
      width: 100%;
    }

    &-title{
      padding: 1.5*$padding-big 0 $padding-big 0;
      display: flex;
      align-items: center;
      &--main{
        visibility: visible;
        width: initial;
        height: initial;
      }
    }
  }

  .board{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .filters{
    position: static;
    display: block;
    flex: 1;
    background-color: transparent;
    opacity: 1;
    transform: scale(1);

    &-list{
      margin-left: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    &-item{
      font-size: 13px;
      margin: 0 5px;
    }

    &-toggle_btn{
      display: none;
    }
  }

  .devices_scroll {
    margin-right: $padding-huge;
  }

  .scenarios{
    height: 3*$card-height-small+2*$padding-small;

    & .no-scrollbar-parent {
      height: 100%;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 17px 0 0;
      list-style-type: none;
      box-sizing: content-box;
      scroll-behavior: smooth;

      &_item{
        margin-bottom: 0.75*$padding-big;
      }
    }
  }

}

@media (min-width: 992px) {
  .board{
    flex-direction: row;

    &-status{
      flex: 1;
    }

    &-scenarios{
      padding: 0 $padding-big;
      height: 100%;
      width: $card-width + 2*$padding-big;
      overflow-y: auto;
      display: block;
    }

  }
}
