$font_family: ArialMT;
$font_color-main:  #333333;
$font_color-second:  #858585;
$light-grey: #F0F0F0;
//$bg-light: #aaaaaa;
$bg-light: #F7F7F7;
$white: #ffffff;
$black: #000000;
$yellow: #FFD93E;

$padding-small: 12px;
$padding-big: 20px;
$padding-huge: 40px;

$card-width: 200px;
$card-height-small: 100px;
$card-height-big: 120px;

$modal-fade: rgba(#333333, 0.5)
